<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header" style="width: 15%;">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="javascript:;" class="navbar-brand">{{module.moduleName}}</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active" ng-repeat="menu in menuData" ng-if="!menu.children.length">
                    <a aria-expanded="false" role="button" ui-sref="menu.menuState">{{menu.menuName}}</a>
                </li>
                <li class="dropdown" ng-repeat="menu in menuData" ng-if="menu.children.length">
                    <a aria-expanded="false" role="button"  class="dropdown-toggle" data-toggle="dropdown"> {{menu.menuName}} <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li ng-repeat="subMenu in menu.children"><a href="javascript:;" ui-sref="index.adminMain.moduleManage">{{subMenu.menuName}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a ui-sref="login">
                        <i class="fa fa-sign-out"></i> 退出
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>