<div class="col-md-12 ibox">
    <div class="ibox-heading">
        <div class="ibox-title">
            <span>选择登录系统</span>
        </div>
    </div>
    <div class="ibox-content text-center  animated fadeInRight" >
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <!--平台维护-->
                <div class="file-box">
                    <div class="file">
                        <a href="javascript:;" ui-sref="index.adminMain">
                            <span class="corner">
                            </span>
                            <div class="icon">
                                <i class="fa fa-cog"></i>
                            </div>
                            <div class="file-name">
                                系统配置管理
                            </div>
                        </a>
                    </div>
                </div>
                <!--系统管理-->
                <div class="file-box" ng-repeat="module in modules">
                    <div class="file">
                        <a href="javascript:;">
                            <span class="corner">
                            </span>
                            <div class="icon">
                                <i class="fa">
                                    <img ng-src="img/{{module.icon}}"class="img-responsive"/>
                                </i>
                            </div>
                            <div class="file-name">
                                {{module.moduleName}}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
