<div class="col-md-12 ibox">
    <div class="ibox-title">
        <span>选择登录系统</span>
    </div>
    <div class="ibox-content text-center  animated fadeInRight" >
        <div class="row">
            <div class="col-md-12">
                <!--平台维护-->
                <div class="file-box">
                    <div class="file">
                        <a href="javascript:;">
                            <span class="corner">
                            </span>
                            <div class="icon">
                                <i class="fa fa-cog"></i>
                            </div>
                            <div class="file-name">
                                系统配置管理
                            </div>
                        </a>
                    </div>
                </div>
                <!--系统管理-->
                <div class="file-box">
                    <div class="file">
                        <a href="javascript:;">
                            <span class="corner">
                            </span>
                            <div class="icon">
                                <i class="fa">
                                    <img src="img/SYSTEMMGR.png" alt="" class="img-responsive"/>
                                </i>
                            </div>
                            <div class="file-name">
                                医院配置
                            </div>
                        </a>
                    </div>
                </div>
                <!--医疗-->
                <div class="file-box">
                    <div class="file">
                        <a href="javascript:;">
                            <span class="corner">
                            </span>
                            <div class="icon">
                                <i class="fa">
                                    <img src="img/DOCTWS.png" alt="" class="img-responsive"/>
                                </i>
                            </div>
                            <div class="file-name">
                                住院医生站
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
