<!--系统管理：系统字典选择-->
<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-heading">
                <div class="ibox-title">
                    字典选择
                    <div class="ibox-tools">
                        <a href="javascript:;" class="btn btn-sm btn-white">
                            <i class="fa fa-eject"></i>默认设置
                        </a>
                        <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="saveDictChoose()">
                            <i class="fa fa-save"></i>保存
                        </a>
                    </div>
                </div>

            </div>
            <div class="ibox-content">
                <div style="min-height: 450px;" ui-grid="dictGridOptions" ui-grid-selection>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="contrast.html">
    <div class="modal-header">
        <div class="modal-title">本机构字典映射</div>
    </div>
    <div class="modal-body">
        <div class="row">
            <form class="form-horizontal">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="请输入名称进行过滤">
                </div>
            </form>


        </div>
        <hr class="hr-line-solid">
        <div class="row">
            <div class="col-md-12">
                <div class="ui-grid" ui-grid="modalGridOptions" ui-grid-selection=""></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" ng-click="save();">保存</button>
        <button class="btn btn-sm btn-white" ng-click="closeModal();">取消</button>
    </div>
</script>
